@import "reset.css";
@import "text.css";
@import "forms.css";
@import "errors.css";

body {
  text-align:center;
  background-color:#004080;
  padding-top:5em;
}

#wrapper {
  width:500px;
  margin:0 auto;
  padding:1em;
  background-color:#fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
a {
  color:#0080FF;
  text-decoration:none;
  font-weight:bold;
}
a:hover{
    color:#00F;
}

#header h1 {
  font-size:50px;
}